* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

.header .nav ul li {
    width: 100px;
}

.banner {
    position: relative;
    height: 254px;
    overflow: hidden; /*去除横向滚动条*/
    /*border: 1px solid red;*/
}

.banner img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/*.content{*/
/*    background: green;*/
/*}*/
.content .content_hd {
    height: 69px;
    border-bottom: 1px solid #c7d6e5;
    overflow: hidden; /*清除溢出，因为里边的元素浮动了，不清楚会影响下边的元素*/
}

.content .content_hd h3 {
    line-height: 80px; /*行高大于上边的高，这样就使得h3里的文字偏下*/
    background: url("./images/icons.png") no-repeat -446px 30px; /*这个-30px原本是0，但是符号不居中，用google调试出来的*/
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #444866;
    float: left;
}

.content .content_hd .breadNav {
    width: 92px; /*shaoshanhuan说右浮动的元素一般都要写宽度，为了让左边线立稳*/
    float: right;
    /*background: yellow;*/
    padding-top: 30px;
    /*font-size: 12px;*/
    /*font-weight: bold;*/
    /*color: #444866;*/

}

.content .content_hd .breadNav a {
    width: 18px;
    height: 18px; /*宽高等于符号的大小*/
    text-indent: -999em;
    float: left;
    background: url("./images/icons.png") no-repeat -453px -59px;
    overflow: hidden;
}

.content .content_hd .breadNav span {
    float: left;
    padding-left: 17px;
    /*border: 1px solid red;*/
    background: url("./images/icons.png") no-repeat -455px -116px;
}

.content .content_bd .menu {
    width: 195px;
    padding-top: 40px;
    float: left;
    /*background: yellow;*/
}


.content .content_bd .menu ul li {
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #cad6e1;
    position: relative;
}

.content .content_bd .menu ul li a {
    display: block;
    color: #44487D;
    text-decoration: none;
    padding-left: 50px;
    /*background: yellow;*/
}

.content .content_bd .menu ul li a:hover {
    color: #38B774;
}

.content .content_bd .menu ul li a.current {
    color: #38B774;
    background: url("./images/icons.png") no-repeat 187px -124px;
}

.content .content_bd .menu ul li a b {
    position: absolute;
    width: 34px;
    height: 41px;
    background: url("./images/tadejingling.png") no-repeat;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.content .content_bd .menu ul li a b.Android {
    background-position: -4px -97px;
}

.content .content_bd .menu ul li a b.iPad {
    background-position: 0px -199px;
}

.content .content_bd .menu ul li a b.PC {
    background-position: 0 -295px;
}

.content .content_bd .menu ul li a b.TV {
    background-position: 0px -602px;
}

.content .content_bd .menu ul li a:hover b.iPhone {
    background-position: -125px 0px;
}

.content .content_bd .menu ul li a:hover b.Android {
    background-position: -124px -97px;
}

.content .content_bd .menu ul li a:hover b.iPad {
    background-position: -121px -199px;
}

.content .content_bd .menu ul li a:hover b.PC {
    background-position: -120px -295px;
}

.content .content_bd .menu ul li a:hover b.TV {
    background-position: -43px -602px;
    width: 43px;
}


.content .content_bd .menu ul li a.current b.iPhone {
    background-position: -125px 0px;
}

.content .content_bd .menu ul li a.current b.Android {
    background-position: -124px -97px;
}

.content .content_bd .menu ul li a.current b.iPad {
    background-position: -121px -199px;
}

.content .content_bd .menu ul li a.current b.PC {
    background-position: -120px -295px;
}

.content .content_bd .menu ul li a.current b.TV {
    background-position: -43px -602px;
    width: 43px;
}

.content .content_bd .main {
    width: 757px;
    float: right;
    padding-top: 44px;
    overflow: hidden; /*因为ul宽度为800>757，所以要溢出隐藏，但是我发现加不加无所谓啊*/
    /*background: yellow;*/

}

.content .content_bd .main ul {
    width: 800px;
    overflow: hidden;
    /*background: pink;*/
}

.content .content_bd .main ul li {
    width: 355px;
    height: 327px;
    border: 1px solid #CAD6E1;
    float: left;
    margin-right: 43px;
    margin-bottom: 42px;
    border-radius: 5px;
    background: #f7f7f7;
}

.content .content_bd .main ul li h4 {
    line-height: 58px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

.content .content_bd .main ul li h4 span {
    font-size: 12px;
    color: green;
    padding-left: 8px;
    padding-right: 10px;
    background: url("./images/arrow.png") no-repeat right center;

}

.content .content_bd .main ul li .pic {
    padding: 0 11px;
}

.content .content_bd .main ul li .btns {
    padding-top: 20px;
}

.content .content_bd .main ul li .btns .btn1 {
    float: left;
    width: 180px;
    height: 34px;
    line-height: 34px;
    /*background: green;*/
    padding-left: 46px;
    border-right: 1px solid #c7d6e5;
}

.content .content_bd .main ul li .btns .btn1 a {
    text-decoration: none;
    display: block;
    padding-left: 35px;
    color: #333;
    background: url("./images/icons.png") no-repeat -446px -175px;
}

.content .content_bd .main ul li .btns .btn2 {
    float: left;
    width: 173px;
    height: 34px;
    line-height: 34px;
    /*background: blue;*/
    /*border-right: 1px solid #c7d6e5;*/
    padding-left: 26px;
}

.content .content_bd .main ul li .btns .btn2 a {
    text-decoration: none;
    display: block;
    padding-left: 40px;
    color: #333;
    background: url("./images/icons.png") no-repeat -442px -247px;
}

.content .content_bd .main ul li .btns a:hover {
    color: green;
}

.declare {
    background: #252947;
}

.declare .inner_c {
    color: #6c6e7e;
    font-size: 12px;
    line-height: 24px;
    padding: 24px 0;
}